/* --- Dashboard Container --- */
.dashboard-container {
    padding: 30px 40px 40px 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .dashboard-container {
        padding: 20px 15px 40px 15px;
    }
}